server:
  port: 8080
  undertow:
    accesslog:
      enabled: true
  error:
    whitelabel:
      enabled: false
spring:
  application:
    name: Idento
  datasource:
    url: jdbc:h2:mem:idento
    driver-class-name: org.h2.Driver
  liquibase:
    change-log: classpath:/db/changelog/db.changelog-master.yaml
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
  jackson:
    serialization:
      indent_output: true
logging:
  level:
    com.rymdis.idento: INFO
    root: INFO
app.security.token.ttl: 1800 # 30 minutes
